.notesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
}

.centerGrid {
  display: flex;
  width: 100%;
}

.empty {
  margin-bottom: 40px;
  font-size: 2rem;
  color: var(--error);
  font-weight: 500;
}