.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: contain;
}

.label {
  font-size: 1.5rem;
  flex: 1;
  color: var(--secondary);
}


p {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
