.container {
  display: flex;
  position: relative;
  color: var(--background);
  align-items: center;
  border-radius: 20px;
  margin: 20px 0px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}

.removeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 7px 13px;
  border-radius: 50%;
  font-weight: 700;
  background-color: red;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.removeButton:hover {
  background-color: var(--main);
}

.textContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.name {
  font-size: 1rem;
  margin: 0;
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
}

.imageContainer {
  display: inline-block;
  width: 70px;
  min-width: 70px;
  height: 70px;
  margin-right: 10px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerButton {
  display: block;
  text-align: center;
  margin-right: 10px;
}

.time {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}
