.addContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 20px;
}

.notesGrid {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
}

@media only screen and (max-width: 380px) {
  .notesGrid {
    grid-template-columns: 100%;
  }
}

.centerGrid {
  display: flex;
  width: 100%;
}

