.arrows svg {
  color: var(--black);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.arrows svg:hover {
  color: var(--orange);
}

.arrowsDisabled svg {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}


.weekContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.03);
}

.appointmentsContainer {
  margin: 0px 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}


.dateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0px 4%;
  cursor: pointer;
}

.dateContainerDisabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0px 4%;
  color: rgba(0, 0, 0, 0.30);
  cursor: pointer;
}

.dateSmallSelected {
  font-size: 1rem;
  background-color: var(--orange);
  margin: 0px 0px;
  padding: 10px 0px;
  border-radius: 50%;
  width: 40px;
  color: var(--white);
  text-align: center;
}

.dateSmall {
  font-size: 1rem;
  margin: 0px 0px;
  padding: 10px 0px;
  border-radius: 50%;
  width: 40px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.dateSmallDisabled {
  font-size: 1rem;
  margin: 0px 0px;
  padding: 10px 0px;
  border-radius: 50%;
  width: 40px;
  color: rgba(0, 0, 0, 0.30);
  text-align: center;

}

.dateSmall:hover {
  color:var(--white);
  background-color: var(--orange);
}


.buttonDate {
  font-family: "Roboto Condensed", sans-serif;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease-in-out;
  padding: 5px 10px;
  margin: 12px 5%;
  color: var(--black);
  font-size: 1.2rem;
  border-radius: 50px;
  border-style: none;
  border-width: 2px;
  border-color: var(--orange);
  box-sizing: border-box;
  text-align: center;
}

.buttonDate:hover {
  background-color: var(--orange);
  color: var(--white);
}

.buttonDate:disabled,
button[disabled] {
  background-color: transparent;
  border: none;
  cursor: default;
  color: rgba(0, 0, 0, 0.30);
}




.weekContainerSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 20px 0px;
}

.arrowContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}



.dateContainerMobile {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.2rem;
}

.daysContainerMobile {
  display: flex;
  justify-content: center;
}


.timeSlotsContainer {
  margin: 50px 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.timeSlotElement {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  padding: 20px 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--orange);
  border-width: 2px;
}

.addContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 25px 100px;
  padding: 20px 0px;
  border-radius: 20px;
}



