.wrapperCenter{
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
}

.title {
  max-width: 800px;
  height: auto;
  overflow: hidden;
}

.title p {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 3rem;
  display: inline-block;
  word-wrap: break-word;
}

.subTitle {
  max-width: 600px;
  height: auto;
  overflow: hidden;
  margin-top: 10px;
}

.subTitle p {
  text-align: center;
  width: 100%;
  font-weight: 200;
  font-size: 1.5rem;
  display: inline-block;
  word-wrap: break-word;
}

.containerFeature {
  margin-top: 20px;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.img {
  width: 200px;
  height: 200px;
}