.wrapper {
  margin: 40px 160px;
}

@media screen and (max-width: 1370px) {
  .wrapper {
    margin: 40px 70px;
  }
}

.category {
  font-size: 2rem;
  font-weight: 700;
}

.notesGrid {
  margin-top: 50px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
}

.centerGrid {
  display: flex;
  width: 100%;
}

.empty {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2rem;
  color: var(--error);
  font-weight: 500;
}



