:root {
  --background: #EAEAEA;
  --main: #252A34;
  --secondary: #ff2e63;
  --black-shadow: rgba(0, 0, 0, 0.15);
  --main-list: rgba(255, 46, 99, 1);
  --second-list: rgba(20, 30, 70, 1);
  --notes: rgba(248, 241, 219, 1.0);
  --bathroom: rgba(20, 70, 74, 1.0);
  --kitchen: rgb(218, 83, 76, 1.0);
  --error: rgba(255, 46, 99, 0.8);
}