@import 'colors.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, html {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.center-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 700px;
  height: 650px;
  margin: 0px 20px;
  padding: 80px 20px;
  background-color: var(--box-background);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.large-title-form {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 70px;
}

form {
  width: 80%;
}

@media only screen and (max-width: 575px) {
  form {
    width: 100%;
  }
}

input {
  display: block;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding: 20px 20px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  font-weight: 200;
  background-color: var(--input-background);
}

.full-button {
  background-color: var(--button-background);
  font-weight: 700;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  margin-top: 40px;
  border: none;
  padding: 20px 20px;
  border-radius: 20px;
}

.full-button:hover {
  background-color: var(--button-hover-background);
}

.spinner-button {
  display: block;
  text-align: center;
  margin: 42px 0px
}

.error-text {
  color: brown;
}