@import 'colors.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body, html {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}




  /* ------------------------------------------------------ Layouts ------------------------------------------------------ */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 20px 20px;
  padding-bottom: 20px;
}

.center-wrapper-nonav {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.center-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.top-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 700px;
  background-color: var(--white);
  box-shadow: 0px 0px 50px var(--black-shadow);
  border-radius: 15px;
  margin: 0px 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 575px) {
  .box-container {
    height: auto;
  }
}


  /* ------------------------------------------------------ Logo ------------------------------------------------------ */

.logo-form {
  width: 450px;
  height: auto;
}

@media only screen and (max-width: 495px) {
  .logo-form {
    width: 300px;
    height: auto;
  }
}



  /* ------------------------------------------------------ Text ------------------------------------------------------ */

.large-title-form {
  font-size: 3rem;
  font-weight: 900;
  margin: 30px 0px;
}

.error-text {
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 20px;
  color: brown;
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.5rem;
}

  /* ------------------------------------------------------ Forms ------------------------------------------------------ */

form {
  width: 60%;
}

@media only screen and (max-width: 650px) {
  form {
    width: 80%;
  }
}

input {
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  border: solid;
  border-color: var(--orange);
  color: black;
  font-weight: 400;
  border-width: 1px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding:15px 20px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2rem;
}

input:focus {
  outline: none !important;
  border:1px solid var(--black);
}



  /* ------------------------------------------------------ Buttons ------------------------------------------------------ */


.full-button {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--black);
  font-weight: 700;
  cursor: pointer;
  transition: background-color.3s ease-in-out, border-color.3s ease-in-out;
  margin-top: 20px;
  border-style: none;
  padding: 15px 20px;
  color: var(--white);
  font-size: 1.5rem;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--black);
  border-width: 2px;
  width: 100%;
  box-sizing: border-box;
}

.full-button:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

.full-button-small {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--orange-list);
  font-weight: 700;
  cursor: pointer;
  transition: background-color.3s ease-in-out, border-color.3s ease-in-out;
  margin-top: 20px;
  border-style: none;
  padding: 15px 20px;
  color: var(--white);
  font-size: 1.5rem;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--orange);
  border-width: 2px;
  box-sizing: border-box;
}

.full-button-small:hover {
  background-color: var(--orange);
}

.empty-button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  margin-top: 20px;
  border-style: none;
  padding: 15px 20px;
  color: var(--black);
  font-size: 1.5rem;
  border-radius: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--orange);
  width: 100%;
  box-sizing: border-box;
}

.empty-button:hover {
  background-color: var(--orange);
  color: var(--white);
}

.full-button-negative {
  background-color: brown;
  font-weight: 700;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  margin-top: 40px;
  border: none;
  padding: 20px 20px;
  border-radius: 20px;
}

.full-button-negative:hover {
  opacity: 0.8;
}

.spinner-button {
  display: block;
  text-align: center;
  margin-top: 45px;
}

.text-button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: color.3s ease-in-out;
  margin-top: 20px;
  border-style: none;
  padding: 15px 20px;
  color: var(--black);
  font-size: 1.5rem;
  border-style: none;
  box-sizing: border-box;
}

.text-button:hover {
  color: var(--orange);
}


  /* ------------------------------------------------------ Edit Label ------------------------------------------------------ */

.edit-label-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.edit-label-icon-subcontainer {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.label {
  font-size: 1.5rem;
  flex: 1;
  color: var(--orange);
}

.edit-label-icon-subcontainer svg {
  color: var(--black);
  padding: 5px 5px;
  border-radius: 50px;
  transform: scale(1.5);
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.edit-label-icon-subcontainer svg:hover {
  color: var(--orange);
}
