.checkbox {
  display: inline-block;
  width: auto;
  margin: 0px;
  margin-right: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.login-extra-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-forgot-password {
  border: none;
  background-color: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
  color: var(--button-text-only-color);
  font-weight: 500;
}

.button-create-account {
  position: absolute;
  bottom: 20px;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  margin-top: 50px;
}