@use '../../colors';
@use '../../base';


.actions-container {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;

  .checkbox-container {
    display: flex;
    align-items: center;
  }
}

#register-button {
  margin-top: 10px;
  font-weight: 500;
  text-decoration: none;

  span {
    text-decoration: underline;
  }
}
