@use '../../../../colors';
@use '../../../../base';

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    color: colors.$primary-color;

    &:nth-child(2n) {
        background-color: colors.$secondary-color;
        color: colors.$background;
    }

    .wrapperSection {
        width: 800px;
        max-width: 100%;
    }

    .title {
        text-align: center;
        font-size: 2rem;

        @include base.tablet {
            font-size: 3em;
        }
    }

    .description {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 300;

        @include base.tablet {
            font-size: 1.5em;
        }

        &:first-of-type {
            margin-bottom: 30px;
        }
    }

    .image {
        max-width: 100%;
        object-fit: cover;
    }
}
